/*Layout styles*/

body {

    font-family: 'Palanquin Dark', sans-serif;
	font-size: 100px;

	background: black;
	color: white;
	
	height: 860px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

