<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Domande</title>
   <link href="/css/style.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
</head>
<body>
	{{#risposta}}
   	<p>Grazie per il tuo feedback!</p>
   	{{/risposta}}
</body>
</html>